/* V1 features very very basic image zoom to use with the html file. */
/* Global styles  */

@font-face {
    font-family: 'fakeInsta';
    src:url('Fonts/richardm.ttf')  format('truetype');  
}
.viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button:hover {
    box-shadow: 2px 4px 2px rgb(245,188,2);
}



/* BODY CONTENT BEGINS HERE */
.bodyBox {
    display:flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(201, 195, 195);
}


/* Header Content */

/* Main Header Boxes */
.headerBox{
    display: flex;
    background-color: antiquewhite;
    border-radius: 6px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px rgb(113, 111, 111);
}
.titleBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.searchBarBox {
    display: flex; 
    height:30px;
    margin: 6px;
}
/* Buttons and Bars*/
.signUpButton {
    border: 1px solid #f2f2f2;
    border-radius: 20%;
    box-shadow: 0px 0px 5px rgb(113, 111, 111);

    color:rgb(202, 195, 195);
    background-color: rgb(136,66,192);

    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    height: 41px;
}
.logInButton {
    border: 1px solid #f2f2f2;
    border-radius: 20%;
    box-shadow: 0px 0px 5px rgb(113, 111, 111);

    color:rgb(202, 195, 195);
    background-color: rgb(224,15,38);

    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    height: 41px;
}
.searchBarBox input {
    background-color:  rgb(250, 250, 250);
 
    text-indent: 40%;
    font-size: 14px;
 
    height: 26px;
 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
 }
 .searchBarBox .fa-search {
     position: relative;
     top: 30%;
     left: 35%;
     font-size: 14px;
  }



/* Picture Box Content */

/* Main Picture Box */
.pictureBox {
    display: flex;
    background-color: rgb(252, 235, 216);

    width: 550px;
    height: 420px;
    
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    padding:20px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 1px 4px 2px rgb(113, 111, 111);
}

.pictureBox img /* Affects all img elements in the pictureBox */{
    object-fit:cover;
    padding: 20px;
    border-radius: 20%;
    box-sizing: border-box;

    box-shadow: 0px 0px 5px rgb(113, 111, 111);
}
.pictureBox img:hover{
    transform: scale(1.1);
}

.bigContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    z-index: -4;
  }

.moveToFront/* dims the background behind the picture and moves it to the front */{
    z-index: 4;
    background: linear-gradient(rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7));
}

.hidden {
    display:none;
}
.main-image {
    display: flex;  
    width: 300px;
    height: 400px;
}
.main-image img{
    height: 100%;
    width: 100%;

    border-radius: 20%;
    object-fit:cover;
}
.main-image .fa-times {
    top: 20;
    right: 65;
    color: antiquewhite;
    font-size: 40px;
}
.main-image .fa-times:hover{
    transform: scale(1.3);
    color: rgb(245, 215, 176);
}

/* Footer Content */

.footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    background-color: rgb(252, 235, 216);
    box-shadow: 0px 0px 5px rgb(113, 111, 111);
    border-radius: 6px;
}
.left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spanSpace {
    margin: 11px;
}